<div fxLayout="row nowrap" fxLayoutAlign="start start" fxLayoutGap="32px">

  <div fxFlex="noshrink" class="sandbox">
    <h3>Try async authorization</h3>
    <hr><br>
    <calden-auth
      [logo]="selectedLogo"
      [isLoading]="isLoading"
      [usernameValidPattern]="''"
      [invalidCredentials]="invalidCredentials"
      (authRequest)="onAuthRequest($event)">
    </calden-auth>
  </div>

  <div fxFlex="60%">

    <h3>Result</h3>
    <hr><br>

    <p *ngIf="authenticated" class="success-auth">You have successfully authenticated</p>
    <ng-container *ngIf="!authenticated">
      <p>You are currently <span class="highlight">NOT</span> authenticated</p>
      <p>Try to login with:</p>
      <ul>
        <li>username: <i>testnovas</i></li>
        <li>password: <i>Itest1111</i></li>
      </ul>
    </ng-container>


</div>


