<div fxLayout="row nowrap" fxLayoutAlign="start start" fxLayoutGap="32px">

  <div fxFlex="noshrink" class="sandbox">
    <h3>Try async authorization</h3>
    <hr><br>
    <calden-auth
      [logo]="selectedLogo"
      [isLoading]="isLoading"
      [usernameValidPattern]="''"
      [invalidCredentials]="invalidCredentials"
      (authRequest)="onAuthRequest($event)">
    </calden-auth>
  </div>

  <div fxFlex="60%">

    <h3>Result</h3>
    <hr><br>

    <ng-container *ngIf="authenticated">
      <p class="success-auth">You have successfully authenticated</p>
      <button mat-raised-button color="primary" (click)="logout()">LOGOUT</button>
    </ng-container>

    <p *ngIf="noSignups">
      <span class="highlight">NO </span>signups accepted for the moment.
      <mat-icon inline class="highlight pointer" (click)="noSignups = false">close</mat-icon>
    </p>
    <ng-container *ngIf="!authenticated">
      <p>You are currently <span class="highlight">NOT</span> authenticated.</p>
      <p>Login with:</p>
      <ul>
        <li>username: <i>testnovas</i></li>
        <li>password: <i>Itest1111</i></li>
      </ul>
      <p><i>NOTE: The server is running on Heroku's free tier, so it may take a few seconds to wake up.</i></p>
    </ng-container>
    <br><br>
    <button *ngIf="!authenticated" mat-raised-button color="accent" routerLink="auth-success">
      <mat-icon inline>lock</mat-icon> AUTH-PROTECTED ROUTE (TRY ME)
    </button>
    <button *ngIf="authenticated" mat-raised-button color="accent" routerLink="auth-success">
      <mat-icon inline>lock_open</mat-icon> AUTH-ACCESSIBLE ROUTE (TRY ME)
    </button>


</div>


